---
layout: default
ref: index
lang: ru
---

		<div id="page-wrapper">

<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="index.html">TALER</a></h1>
					<nav id="nav">
						<ul>
							<!--<li><a href="index.html"></a></li>-->
							<li><a href="https://explorer.taler.site/" class="button">Taler Bloсk Explorer</a></li>
							<li><a href="#" class="button">Roadmap</a></li>
							<li><a href="#" class="button">Whitepaper</a></li>
							<li><a href="http://talercoin.by/" class="button">Блог</a></li>
							<li><a href="#exchanges" class="button">Биржи</a></li>
							<!--<li>-->
								<!--<a href="#" class="icon fa-angle-down">Вкладки</a>-->
								<!--<ul>-->
									<!--<li><a href="generic.html">Taler Bloсk Explorer</a></li>-->
									<!--<li>-->
										<!--<a href="#">Submenu</a>-->
										<!--<ul>-->
											<!--<li><a href="#">Option One</a></li>-->
										<!--</ul>-->
									<!--</li>-->
								<!--</ul>-->
							<!--</li>-->
							<li>
								<a href="#" class="icon fa-angle-down">RU</a>
								<ul>
									{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
									{% for page in pages %}{% if page.lang != 'ru' %} <li><a href="https://talerdev.github.io/taler{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{{ page.lang }}</a></li>{% endif %} {% endfor %}
								</ul>
							</li>

						</ul>
					</nav>
				</header>
			<!-- Banner -->

			<div id="particles-js"></div>
			<div id="ticker_value" class="to-animate">
				<div class="currency">$1 <span class="country">USD</span></div>
				<div class="currency">$1 <span class="country">USD</span></div>
				<div class="currency">$1 <span class="country">USD</span></div>
				<div class="currency">$1 <span class="country">USD</span></div>

			</div>
			<section id="banner">

						<!-- stats - count particles -->
						<!--<div class="count-particles">-->
							<!--<span class="js-count-particles">&#45;&#45;</span> particles-->

					<h2>Taler</h2>
					<p>Первая белорусская криптовалюта</p>
					<ul class="actions special" style="z-index: 1000; position: absolute">
						<li><a href="#main" class="button primary">Детальнее</a></li>
						<li><a href="#wallets" class="button">Скачать кошелек</a></li>
					</ul>
						<!--</div>-->

				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2></h2>
								<p>Талер — это анонимная криптовалюта с открытым кодом, не подверженная девальвации, которую можно использовать для разных целей — от мелких частных расчетов, до накопительной функции и использования в сети белорусских бизнесов-партнеров!</p>
						</header>
						<!--<span class="image featured"><img src="images/pic01.jpg" alt="" /></span>-->
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="icon major fa-bolt accent2"></span>
								<h3>Скорость транзакций</h3>
								<p>Подтверждение блока всего 1 минута, обеспечит более быстрый обмен и перевод средств.</p>
							</section>
							<section>
								<span class="iconn major fas fa-coins accent3"></span>
								<h3>Pos протокол</h3>
								<p>Позволяет зарабатывать держателям талера получить награду, а так же увеличивает поддержку сети.</p>
							</section>
						</div>
						<div class="features-row">
							<section>
								<span class="iconn major fas fa-handshake accent4"></span>
								<h3>Атомарные Свопы</h3>
								<p>Эти свопы полностью устраняют необходимость участия третьей стороны при обмене между блокчейнами различных криптовалют и передают бразды торговли непосредственно пользователю. Атомарные свопы – новая технология, позволяющая осуществлять P2P-торговлю между разными типами цифровых активов.</p>
							</section>
							<section>
								<span class="icon major fa-database accent5"></span>
								<h3>Segregated Witness</h3>
								<p>Segregated Witness (SegWit) реализованное обновление протокола, призванное решить проблему пластичности транзакций блокчейна Талера. а также увеличить её пропускную способность.</p>
							</section>
						</div>
            <div class="features-row">
							<section>
								<span class="icon major fa-lock accent4"></span>
								<h3>Защита повторного воспроизведения</h3>
								<p>Без защиты от повтора, новые транзакции будут одинаково действительны для обеих цепочек. Это означает, что эти транзакции могут быть скопированы из одного блокчейна в другой, — другими словами, они будут на обеих цепочках. Это и называется «повторной атакой».</p>
							</section>
							<section>
								<span class="iconn major fas fa-barcode accent5"></span>
								<h3>Уникальный формат адреса</h3>
								<p> Адреса Bech32 позволяют использовать собственные выходы Segwit, которые обеспечивают более высокую эффективность и безопасность, чем устаревшие выходы. Таким образом технология позволяющим пользователям отправлять и получать средства на полностью зашифрованные адреса.</p>
							</section>
						</div>
					</section>
          <section class="box special features">
						<div class="features-row" id="specs">
								<h3>Спецификация</h3>
                  <ul style="list-style: none">
                    <li>Эмиссия - 23 333 333 монет</li>
                    <li>PoW/Pos алгоритм - Lyra2z</li>
                    <li>Mining Hardware - CPU, GPU</li>
                    <li>Размер вознаграждения за блок - 50 монет</li>
                    <li>Коррекция сложности - каждый блок</li>
                    <li>Уполовинивание вознаграждения - есть</li>
                  </ul>
						</div>

					</section>

					<section class="box special features">
						<div class="features-row" id="wallets">
							<p>
								<!--<span class="icon major fa-bolt accent2"></span>-->
								<h3>Кошельки</h3>
								<hr>
								<p>
									<a href="https://taler.site/files/TalerCoreWin32.zip" class="fab fa-windows"><br><span class="label">Windows 32 </span></a>
									<a href="https://taler.site/files/TalerCoreWin64.zip" class="fab fa-windows"><br><span class="label">Windows 64</span></a>
									<a href="https://taler.site/files/taler-qt" class="fab fa-linux"><br><span class="label">Linux</span></a>
									<a href="https://taler.site/files/talercore.zip" class="fab fa-apple"><br><span class="label">Mac</span></a>
									<a href="https://play.google.com/store/apps/details?id=xplatforms.taler.wallet" class="fab fa-android"><br><span class="label">Android</span></a>
									<a href="https://wallet.taler.club/" class="fab fas fa-globe-africa "><br><span class="label">Online</span></a>
							</p>
						</div>

					</section>
					<section class="box special features">
						<div class="features-row" id="exchanges" >
							<p>
								<!--<span class="icon major fa-bolt accent2"></span>-->
								<h3>Биржи</h3>
								<hr>
								<p>
                  <br>
									<a href="https://crex24.com/" class="fab logo"><img src="images/logos/crex24_logo.svg"><br><span class="label">Crex 24</span></a>
									<a href="https://bitexlive.com/exchange/BTC-TLR" class="fab logo"><img class="light-gray" src="images/logos/logo_bitex.png"><br><span class="label">Bitex Live</span></a>
									<a href="https://btc-trade.com.ua/" class="fab logo"><img class="light-gray" src="images/logos/logo_btc_trade.svg"><br><span class="label">Btc trade</span></a>
									<a href="https://exion.io/" class="fab logo"><img class="light-gray" src="images/logos/logo_exion.png"><br><span class="label">Exion</span></a>
									<a href="https://app.stex.com/ru/basic-trade/pair/BTC/TLR/1D" class="fab logo"><img class="light-gray" src="images/logos/Logo_stex.svg"><br><span class="label">Stex</span></a>
							</p>
						</div>

					</section>
          <section class="box special features">

            <div class="features-row" id="social">
								<!--<span class="icon major fa-bolt accent2"></span>-->
							<h3>Официальные ресурсы</h3>
							<hr>
 	 					  <ul class="icons big">
                <li><a href="https://twitter.com/talerminsk" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/talercoinofficial/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="https://www.instagram.com/talerofficial/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://t.me/TalerOfficial" class="icon fa-telegram"><span class="label"></span></a></li>
                <li><a href="https://github.com/taler-project" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="https://discordapp.com/invite/C5gTa98" class="fab fa-discord" style="color: gray; font-size: 60px; border-bottom: 0;"><span class="label"></span></a></li>
                <li><a href="https://www.youtube.com/channel/UCJcLFsK07NovkxrUijht5uA" class="icon fa-youtube" ><span class="label">Youtube</span></a></li>
                <li><a href="https://vk.com/taler_coin_official" class="icon fa-vk" ><span class="label">Vkontakte</span></a></li>
              </ul>
              <p></p>
							<h3>Дополнительные ресурсы</h3>
							<table class="table">
								<thead>
									<tr>
										<th>Чаты</th>
										<th>Другое</th>
									</tr>
								</thead>

								<tr>
									<td><a href="https://t.me/Taler_English">Англоговорящий чат</a></td>
									<td><a href="https://TalerOnline.com">Блог</a></td>
								</tr>
								<tr>
									<td><a href="https://t.me/TLRobmen"> Обмен Талеров </a></td>
									<td><a href="https://platilib.com">Сервис оплаты Мобильной связи
и интернета (СНГ) - Талерами </a></td>
								</tr>
								<tr>
									<td><a href="https://t.me/MinerTalerChat">Обсуждение Майнинга </a></td>
									<td><a href="https://twitter.com/LiveTaler">Твитер LIVE</a>	</td>
								</tr>
								<tr>
									<td><a href="https://t.me/TLRBusiness">Чат для бизнес-партнёров</a></td>
									<td><a href="https://ads.taleronline.com">Доска объявлений Ads: </a></td>
								</tr>
								<tr>
									<td><a href="https://t.me/talershop"> Барахолка (TalerShop)</a></td>
									<td><a href="https://taleronline.com/taler-tlr-kran/">Неофициальный Кран Раздачи Талеров</a></td>
								</tr>
								<tr>
									<td><a href="https://t.me/vzlom_kartiny">Взлом картины — </a> </td>
									<td><a href="https://taler.games">Игра dice</a></td>
								</tr>
								<tr>
									<td></td>
									<td><a href="https://knb.games.taleronline.com">Камень - Ножницы - Бумага</a> </td>
								</tr>
								<thead>
									<tr>
										<th>Майнинг пулы</th>
										<th>Explorer</th>
									</tr>
								</thead>
								<tr>
									<td><a href="https://pool.vie.today">pool.vie.today </a> </td>
									<td><a href="https://explorer.taleronline.com">explorer.taleronline.com</a> </td>
								</tr>
								<tr>
									<td><a href="https://dragongoldpool.tk">dragongoldpool.tk</a> </td>
									<td><a href="https://explorer.talercrypto.com">explorer.talercrypto.com</a> </td>
								</tr>
								<tr>
									<td><a href="https://lyra2z.com">lyra2z.com</a> </td>
									<td><a href=""></a> </td>
								</tr>
								<tr>
									<td><a href="https://talerpool.by">talerpool.by</a> </td>
									<td><a href=""></a> </td>
								</tr>
								<tr>
									<td><a href="https://tlr.idcray.com">tlr.idcray.com</a> </td>
									<td><a href=""></a> </td>
								</tr>
								<tr>
									<td><a href="https://fairmine.pro">https://fairmine.pro</a> </td>
									<td><a href=""></a> </td>
								</tr>
								<tr>
									<td><a href="https://zergpool.com">https://zergpool.com</a> </td>
									<td><a href=""></a> </td>
								</tr>
								<tr>
									<td><a href="https://tnthash.fun">https://tnthash.fun</a> </td>
									<td><a href=""></a> </td>
								</tr>
								<tr>
									<td><a href="https://mineblocks.ch">https://mineblocks.ch</a> </td>
									<td><a href=""></a> </td>
								</tr>
								<tr>
									<td><a href="https://smithpool.net">https://smithpool.net</a> </td>
									<td><a href=""></a> </td>
								</tr>
							</table>
						</div>

					</section>

					<!--<div class="row">-->
						<!--<div class="col-6 col-12-narrower">-->

							<!--<section class="box special">-->
								<!--<span class="image featured"><img src="images/pic02.jpg" alt="" /></span>-->
								<!--<h3>Sed lorem adipiscing</h3>-->
								<!--<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>-->
								<!--<ul class="actions special">-->
									<!--<li><a href="#" class="button alt">Learn More</a></li>-->
								<!--</ul>-->
							<!--</section>-->

						<!--</div>-->
						<!--<div class="col-6 col-12-narrower">-->

							<!--<section class="box special">-->
								<!--<span class="image featured"><img src="images/pic03.jpg" alt="" /></span>-->
								<!--<h3>Accumsan integer</h3>-->
								<!--<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>-->
								<!--<ul class="actions special">-->
									<!--<li><a href="#" class="button alt">Learn More</a></li>-->
								<!--</ul>-->
							<!--</section>-->

						<!--</div>-->
					<!--</div>-->

				</section>

			<!--&lt;!&ndash; CTA &ndash;&gt;-->
				<!--<section id="cta">-->

					<!--<h2>Sign up for beta access</h2>-->
					<!--<p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>-->

					<!--<form>-->
						<!--<div class="row gtr-50 gtr-uniform">-->
							<!--<div class="col-8 col-12-mobilep">-->
								<!--<input type="email" name="email" id="email" placeholder="Email Address" />-->
							<!--</div>-->
							<!--<div class="col-4 col-12-mobilep">-->
								<!--<input type="submit" value="Sign Up" class="fit" />-->
							<!--</div>-->
						<!--</div>-->
					<!--</form>-->

				<!--</section>-->

		</div>

