<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/particles.min.js"></script>
<script src="assets/js/main.js"></script>

<!-- Footer -->
<footer id="footer">
  <ul class="icons">
    <li><a href="https://twitter.com/talerminsk" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="https://www.facebook.com/talercoinofficial/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
    <li><a href="https://www.instagram.com/talerofficial/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
    <li><a href="https://t.me/TalerOfficial" class="icon fa-telegram"><span class="label"></span></a></li>
    <li><a href="https://github.com/taler-project" class="icon fa-github"><span class="label">Github</span></a></li>
    <li><a href="https://discordapp.com/invite/C5gTa98" class="fab fa-discord" style="color: gray; font-size: 28px; border-bottom: 0;"><span class="label"></span></a></li>
    <li><a href="https://bitcointalk.org/index.php?topic=5103992" class="fab fa-bitcoin" style="color: gray; font-size: 28px; border-bottom: 0;"><span class="label"></span></a></li>
    <li><a href="https://www.youtube.com/channel/UCJcLFsK07NovkxrUijht5uA" class="icon fa-youtube" ><span class="label">Youtube</span></a></li>
  </ul>
  <ul class="copyright">
    <li>&copy; Taler. All rights reserved.</li>
  </ul>
</footer>